html {
  background: #555;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  background: #f2f6fc;
}

p {
  margin: 0;
  padding: 13px;
  font-size: 18px;
  font-family: "Oxygen";
}

.slider {
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 85px 1fr;
  grid-gap: 20px;
  align-items: center;
}

.slider-value {
  text-align: center;
}

.instructions {
  text-align: center;
}

.instructions-details {
  font-size: 1rem;
}

.logo {
  height: 150px;
  display: block;
  margin: 0px auto;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.header {
  text-align: center;
  border-bottom: 5px solid #555;
}

.header p {
  font-size: 1.8rem;
  border-left: 2px solid #fff;
}

.results {
  display: -webkit-flex;
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

@media only screen and (max-width: 320px) {
  .slider {
    -webkit-align-items: center;
    align-items: center;
    grid-auto-flow: row;
  }
}
